{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h2>Forum Pengaduan</h2>
<div class="pengaduan">
    <h2>Pengajuan Pengaduan Mengenai Masalah Kemasyarakatan</h2>
    <a>Tulis Disini</a></b>
    <form action="{{ url_for('pengajuan') }}" method="post" autocomplete="off">
        <input type="text" name="teks" placeholder="Tuliskan Sesuatu" id="teks" required>
        </b></b>
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Pengaduan">
    </form>
</div>
<div>
    <table>
        <thead>
        <tr>
        <th>Yang telah diajukan</th>
        </tr>
        </thead>
        <tbody>
        {% for row in value %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    </b></b>
{% endblock %}